﻿<div class="topadminsubnav">
    <div class="btn-group" role="group">
        <a href="@Url.Action("Index")" role="button" class="btn-mvc-green">Quản lý chuyên mục</a>
        <a href="@Url.Action("CreateCategory")" role="button" class="btn-mvc-green">Tạo mới</a>
    </div>
</div>