﻿@using MVCForum.Website.Application.ExtensionMethods
@model MVCForum.Website.Areas.Admin.ViewModels.CategoryViewModel

<div class="form-group">
    <b>Chọn màu</b>
    @Html.EditorFor(model => model.CategoryColour)
    @Html.ValidationMessageFor(model => model.CategoryColour)
</div>

<div class="form-group">
    <b>Tên chuyên mục</b>
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="form-group">
    <b>Mô tả</b>
    @Html.EditorFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div class="row categoryimage">

    @if (!string.IsNullOrEmpty(Model.Image))
    {
        <div class="col-md-2">
            <img src="@AppHelpers.CategoryImage(Model.Image, Model.Id,110)" alt="@Model.Name" />
        </div>
    }

    <div class="col-md-10">
        <b>Ảnh đại diện</b>
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    @Html.LanguageString("Post.Browse") <input type="file" name="files" id="files" value="">
                </span>
            </span>
            <input type="text" class="form-control" readonly="">
        </div>
        @Html.ValidationMessageFor(x => x.Files)
    </div>
</div>

<div class="checkbox">
    @using (Html.BeginLabelFor(m => m.IsLocked, new { @class = "checkbox" }))
    {
        @Html.CheckBoxFor(m => m.IsLocked)
    }
    @Html.ValidationMessageFor(m => m.IsLocked)
</div>

<div class="checkbox">
    @using (Html.BeginLabelFor(m => m.ModerateTopics, new { @class = "checkbox" }))
    {
        @Html.CheckBoxFor(m => m.ModerateTopics)
    }
    @Html.ValidationMessageFor(m => m.ModerateTopics)
</div>

<div class="checkbox">
    @using (Html.BeginLabelFor(m => m.ModeratePosts, new { @class = "checkbox" }))
    {
        @Html.CheckBoxFor(m => m.ModeratePosts)
    }
    @Html.ValidationMessageFor(m => m.ModeratePosts)
</div>

<div class="form-group">
    <b>Sắp xếp</b>
    @Html.TextBoxFor(model => model.SortOrder, new { @class = "form-control", type = "number" })
    @Html.ValidationMessageFor(model => model.SortOrder)
</div>

<div class="form-group">
    <b>Chuyên mục cha</b>
    @Html.DropDownListFor(model => model.ParentCategory, Model.AllCategories, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ParentCategory)
</div>

<hr />

<div class="form-group">
    <b>Tiêu đề</b>
    @Html.TextBoxFor(model => model.PageTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.PageTitle)
</div>

<div class="form-group">
    <b>Mô tả dài dòng</b>
    @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.MetaDesc)
</div>

