﻿@using MVCForum.Website.Application
@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.Settings().PageTitle ?? Html.Settings().ForumName;
    ViewBag.MetaDesc = Html.Settings().MetaDesc;
}
@* CSS Carousel*@
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
    }
    .carousel-caption > p{
        color:yellow;
        font-weight:bold;
    }
</style>

@*Css Blinky Button*@

@*Ảnh Carousel*@

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/Content/Images/1.jpg" alt="Chania">
            <div class="carousel-caption">
                <p>VIỆC HỌC LÀ MỘT QUYỂN VỞ KHÔNG CÓ TRANG CUỐI CÙNG</p>
            </div>
        </div>

        <div class="item">
            <img src="/Content/Images/2.jpg" alt="Chania">
            <div class="carousel-caption">
                <p>HỌC ĐỂ BIẾT, HỌC ĐỂ LÀM, HỌC ĐỂ CHUNG SỐNG, HỌC ĐỂ TỰ KHẲNG ĐỊNH MÌNH</p>
            </div>
        </div>

        <div class="item">
            <img src="/Content/Images/3.jpg" alt="Flower">
            <div class="carousel-caption">
                <p>TRÊN CON ĐƯỜNG DẪN ĐẾN THÀNH CÔNG, KHÔNG CÓ DẤU CHÂN DÀNH CHO KẺ LƯỜI BIẾNG</p>
            </div>
        </div>

        <div class="item">
            <img src="/Content/Images/4.jpg" alt="Flower">
            <div class="carousel-caption">
                <p>CẦN PHẢI LỰA CHỌN MỘT CÁCH NGHIÊM NGẶT XEM NÊN HỌC GÌ VÀ KHÔNG NÊN HỌC GÌ</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@* End Carousel *@
<br />
@section side
{
    @Html.Partial("_CommonSideNav")
}
@*Câu hỏi mới nhất*@
@Html.Action("LatestTopics", "Topic")
@*Tất cả chuyên mục*@
<div class="panel panel-default">
    <div class="panel-heading">
        Tất cả chuyên mục
    </div>
    <div class="panel-body">
        @Html.Action("ListMainCategories", "Category")
    </div>
</div>

