﻿@model MVCForum.Website.Areas.Admin.ViewModels.LowestPointPostsViewModels


<div class="panel">
    <div class="panel-heading">
        <h5>Câu hỏi ít quan tâm</h5>
    </div>
    @if (Model.Posts.Any())
    {
        <ul class="list-group">
            @foreach (var post in Model.Posts)
            {
                <li class="list-group-item">
                    <span class="badge">@post.VoteCount</span>
                    <a href="@post.Topic.NiceUrl">@post.Topic.Name</a> bởi <a href="@post.User.NiceUrl">@post.User.UserName</a>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="panel-content">
            Không có câu hỏi nào
        </div>
    }

</div>
