﻿@using MVCForum.Domain.Constants
@model MVCForum.Website.Areas.Admin.ViewModels.MainDashboardNavViewModel
@{
    var currentController = TempData[AppConstants.CurrentController].ToString();
    var currentAction = TempData[AppConstants.CurrentAction].ToString();
}
<ul class="nav navbar-right top-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Index", "PrivateMessage", new { area = "" })">
                    <i class="fa fa-fw fa-envelope"></i> Tin nhắn
                    @if (Model.PrivateMessageCount > 0)
                    {
                        <span class="badge">@Model.PrivateMessageCount</span>
                    }
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="@Url.Action("LogOff", "Members", new { area = "" })"><i class="fa fa-fw fa-power-off"></i> Đăng xuất</a>
            </li>
        </ul>
    </li>
</ul>
<div class="collapse navbar-collapse mvcforum-nav">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="@Url.Content("~/")"><i class="fa fa-fw fa-arrow-left"></i> Về trang chính</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Admin", new { area = "Admin" })" class="@(currentController == "admin" && currentAction == "index" ? "active" : "")">
                <i class="fa fa-fw fa-dashboard"></i> Thống kê
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Settings", new { area = "Admin" }, null)" class="@(currentController == "settings" && currentAction == "index" ? "active" : "")">
                <i class="fa fa-fw fa-cogs"></i> Cài đặt chung
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "AdminCategory", new { area = "Admin" }, null)" class="@(currentController == "admincategory" && currentAction == "index" ? "active" : "")">
                <i class="fa fa-fw fa-folder-open-o"></i> Chuyên mục
            </a>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#tags">
                <i class="fa fa-fw fa-tags"></i> Thẻ <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="tags" class="collapse">
                <li>
                    <a href="@Url.Action("Index", "AdminTag", new { area = "Admin" })" class="@(currentController == "admintag" && currentAction == "index" ? "active" : "")">
                        Quản lý thẻ
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MoveTags", "AdminTag", new { area = "Admin" }, null)" class="@(currentController == "admintag" && currentAction == "movetags" ? "active" : "")">
                        Thay đổi thẻ trong topic
                    </a>
                </li>
            </ul>

        </li>
        <li>
            <a href="@Url.Action("Index", "AdminBadge", new { area = "Admin" })" class="@(currentController == "adminbadge" && currentAction == "index" ? "active" : "")">
                <i class="fa fa-fw fa-trophy"></i> Danh hiệu
            </a>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#permissions">
                <i class="fa fa-fw fa-check-square-o"></i> Phân quyền <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="permissions" class="collapse">
                <li>
                    <a href="@Url.Action("Index", "Permissions", new { area = "Admin" }, null)" class="@(currentController == "permissions" && currentAction == "index" ? "active" : "")">Quản lý chi tiết quyền</a>
                </li>
                <li>
                    <a href="@Url.Action("PermissionTypes", "Permissions", new { area = "Admin" }, null)" class="@(currentController == "permissions" && currentAction == "permissiontypes" ? "active" : "")">Thêm / Xóa quyền</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#membership">
                <i class="fa fa-fw fa-users"></i> Tài khoản <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="membership" class="collapse">
                <li>
                    <a href="@Url.Action("Manage", "Account", new { area = "Admin" }, null)" class="@(currentController == "account" && currentAction == "manage" ? "active" : "")">Quản lý tài khoản</a>
                </li>
                <li>
                    <a href="@Url.Action("ListAllRoles", "Account", new { area = "Admin" }, null)" class="@(currentController == "account" && currentAction == "listallroles" ? "active" : "")">Quản lý quyền</a>
                </li>
                <li>
                    <a href="@Url.Action("AddRole", "Account", new { area = "Admin" }, null)" class="@(currentController == "account" && currentAction == "addrole" ? "active" : "")">Thêm quyền</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "AdminSocial", new { area = "Admin" }, null)" class="@(currentController == "adminsocial" && currentAction == "index" ? "active" : "")">Social Logins</a>
                </li>
                <li>
                    <a href="@Url.Action("Members", "ImportExport", new { area = "Admin" }, null)" class="@(currentController == "importexport" && currentAction == "members" ? "active" : "")">Nhập / Xuất</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#spam">
                <i class="fa fa-fw fa-frown-o"></i> Chặn Spam <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="spam" class="collapse">
                <li>
                    <a href="@Url.Action("Index", "BannedEmail", new { area = "Admin" })" class="@(currentController == "bannedemail" && currentAction == "index" ? "active" : "")">Ban Emails</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "BannedWord", new { area = "Admin" })" class="@(currentController == "bannedword" && currentAction == "index" ? "active" : "")">Banned &amp; Stop Words</a>
                </li>
                <li>
                    <a href="@Url.Action("Akismet", "AdminSpam", new { area = "Admin" })" class="@(currentController == "adminspam" && currentAction == "akismet" ? "active" : "")">Akismet</a>
                </li>
                <li>
                    <a href="@Url.Action("RegistrationQuestion", "AdminSpam", new { area = "Admin" })" class="@(currentController == "adminspam" && currentAction == "registrationquestion" ? "active" : "")">Registration Question</a>
                </li>
                <li>
                    <a href="@Url.Action("SpamReporting", "AdminSpam", new { area = "Admin" })" class="@(currentController == "adminspam" && currentAction == "spamreporting" ? "active" : "")">Spam Reporting</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#language">
                <i class="fa fa-fw fa-language"></i> Ngôn ngữ <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="language" class="collapse">
                <li>
                    <a href="@Url.Action("Create", "AdminLanguage", new { area = "Admin" })" class="@(currentController == "adminlanguage" && currentAction == "create" ? "active" : "")">Thêm ngôn ngữ</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "AdminLanguage", new { area = "Admin" })" class="@(currentController == "adminlanguage" && currentAction == "index" ? "active" : "")">Chỉnh sửa</a>
                </li>
                <li>
                    <a href="@Url.Action("Languages", "ImportExport", new { area = "Admin" })" class="@(currentController == "importexport" && currentAction == "languages" ? "active" : "")">Nhập / Xuất</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("CustomCode", "Settings", new { area = "Admin" }, null)" class="@(currentController == "settings" && currentAction == "customcode" ? "active" : "")"><i class="fa fa-fw fa-code"></i> Tùy chỉnh HTML</a>
        </li>
        <li>
            <a href="#" data-toggle="collapse" data-target="#batch">
                <i class="fa fa-fw fa-bolt"></i> Công cụ khác <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="batch" class="collapse">
                <li>
                    <a href="@Url.Action("BatchDeleteMembers", "Batch", new { area = "Admin" }, null)" class="@(currentController == "batch" && currentAction == "batchdeletemembers" ? "active" : "")">Xóa thành viên</a>
                </li>
                <li>
                    <a href="@Url.Action("BatchMoveTopics", "Batch", new { area = "Admin" }, null)" class="@(currentController == "batch" && currentAction == "batchmovetopics" ? "active" : "")">Di chuyển topic</a>
                </li>
                <li>
                    <a href="@Url.Action("BatchDeletePrivateMessages", "Batch", new { area = "Admin" }, null)" class="@(currentController == "batch" && currentAction == "batchdeleteprivatemessages" ? "active" : "")">Xóa tin nhắn</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Index", "Log", new { area = "Admin" })" class="@(currentController == "log" && currentAction == "index" ? "active" : "")"><i class="fa fa-fw fa-file-text-o"></i> Nhật ký lỗi</a>
        </li>
    </ul>
</div>