﻿@using MVCForum.Utilities
@model MVCForum.Website.Areas.Admin.ViewModels.CreateLanguageViewModel
           
@{
    ViewBag.Title = "Thêm ngôn ngữ";
}

@Html.Partial("_LanguageOptions")

<div class="panel">
    <div class="panel-heading">
        <h5>@ViewBag.Title</h5>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm("CreateLanguage", "AdminLanguage", FormMethod.Post))
        {
            @Html.ValidationSummary(false)
            @Html.AntiForgeryToken()

            <div class="form-group">
                <b>Chọn ngôn ngữ</b>
                @Html.DropDownListFor(model => model.Name, new SelectList(LanguageUtils.AllCultures, "Name", "EnglishName"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="submit-holder">
                <input type="submit" class="btn-mvc-green btn-mvc-large" value="Thêm" />
            </div>
        }
    </div>
</div>




