﻿<div class="panel panel-default">
	<div class="panel-body">
	@Html.Action("Index", "Language")
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
	@Html.Action("SideSearch", "Search")
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
	@Html.Action("ListCategorySideMenu", "Category")
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
	@Html.Action("PopularTags", "Tag", new { amountToTake = 20 })
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-body">
	@Html.Action("CurrentWeekHighPointUsers", "Point")
	@Html.Action("HotTopics", "Topic")
	</div>
</div>

<div class="side-box sidesearchbox">
  <h5>Facebook</h5>
  <div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=1513521995564923";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
	<iframe frameborder="0" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ffit.hcmute.edu.vn&amp;&amp;height=700&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true" scrolling="no" style="border: medium none; overflow: hidden; height: 700px;" allowtransparency="true"></iframe>
</div>