﻿@model MVCForum.Website.Areas.Admin.ViewModels.CustomCodeViewModels
@{
    ViewBag.Title = "Điều chỉnh mã HTML";
}

<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            @ViewBag.Title
        </h4>
    </div>
    <div class="panel-body">
        <p>Chèn mã JavaScript, Html and CSS vào Header và Footer</p>

        @using (Html.BeginForm("CustomCode", "Settings", FormMethod.Post))
        {
            @Html.ValidationSummary(false)


            <div class="form-group">
                @Html.LabelFor(m => m.CustomHeaderCode)
                @Html.TextAreaFor(m => m.CustomHeaderCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CustomHeaderCode)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CustomFooterCode)
                @Html.TextAreaFor(m => m.CustomFooterCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CustomFooterCode)
            </div>

            <div class="submit-holder">
                <input type="submit" class="btn-mvc-green btn-mvc-large" value="Cập nhật" />
            </div>
        }


    </div>
</div>