﻿<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mvcforum-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Admin", new { area = "Admin" }, null)">
                <img src="@Url.Content("~/themes/metro/content/images/logo.png")" alt="@Html.Lang("Site.MvcForum")" class="logoimg" />  
            </a>
        </div>
        <div class="collapse navbar-collapse" id="mvcforum-nav">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Content("~/")">Trang chính</a></li>
                <li>@Html.AdminActionLink("Admin Home", "Index", "Admin")</li>
            </ul>
        </div>
    </div>
</nav>