﻿@using MVCForum.Domain.Constants
@using MVCForum.Website.Application
@{
    TempData[AppConstants.GlobalClass] = Context.IsMobileDevice() ? "mobile" : "desktop";
    TempData[AppConstants.CurrentAction] = ViewContext.RouteData.GetRequiredString("action").ToLower();
    TempData[AppConstants.CurrentController] = ViewContext.RouteData.GetRequiredString("controller").ToLower();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    @Html.Partial("_AdminScripts")
    @RenderSection("AdminHeader", false)
</head>

<body class="@TempData[AppConstants.GlobalClass].ToString()">

    <div id="wrapper">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".mvcforum-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Admin", new { area = "Admin" }, null)">
                    @Html.Lang("Site.MvcForum")
                </a>
            </div>

            @Html.Action("MainAdminNav", "Dashboard", new { area = "Admin" })
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                @Html.Partial("_GenericMessage")
                @if (IsSectionDefined("AdminPageHeader"))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                @*Something Here <small>yes there is</small>*@
                                @RenderSection("AdminPageHeader", false)
                            </h1>
                            @*<ol class="breadcrumb">
                                    <li class="active">
                                        <i class="fa fa-dashboard"></i> Breadcrumb
                                    </li>
                                </ol>*@
                        </div>
                    </div>
                }

                <div class="mainadminbody">
                    @RenderBody()                    
                </div>
                <footer>
                    @RenderSection("AdminFooter", false)
                    <p>Hỏi đáp Khoa Công Nghệ Thông Tin &copy @DateTime.UtcNow.Year - @Html.Partial("_GetCurrentVersion")</p>
                </footer>

            </div>
        </div>
    </div>
</body>
</html>
