﻿
<div class="topadminsubnav">
    <div class="btn-group">
        @Html.ActionLink("Danh sách ngôn ngữ", "Index", "AdminLanguage", new { Area = "Admin" }, new { @class = "btn-mvc-green" })
        @Html.ActionLink("Dịch thuật", "ManageResourceKeys", "AdminLanguage", new { Area = "Admin" }, new { @class = "btn-mvc-green" })
        @Html.ActionLink("Thêm mới cặp {Key, Value}", "AddResourceKey", "AdminLanguage", new { Area = "Admin" }, new { @class = "btn-mvc-green" })
        @Html.ActionLink("Nhập ngôn ngữ", "Languages", "ImportExport", new { Area = "Admin" }, new { @class = "btn-mvc-green" })
    </div>
</div>