﻿@using MVCForum.Utilities
@model MVCForum.Website.Areas.Admin.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Quản trị";

}
@section AdminHeader
{
    <script src="@Url.Content("~/Scripts/dashboard.js")" type="text/javascript"></script>
}

<div class="row dashboardrow">

    <div class="col-md-6">
        <div class="admindashboard">
            <div class="dashboardtodaystopics">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="đang tải ..." />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="admindashboard">
            <div class="dashboardlowestpointposts">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="đang tải ..." />
            </div>
        </div>
    </div>
</div>

<div class="row dashboardrow">
    <div class="col-md-6">
        <div class="admindashboard">
            <div class="dashboardlatestusers">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="đang tải ..." />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="admindashboard">
            <div class="dashboardlowestpointusers">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="đang tải ..." />
            </div>
        </div>
    </div>
</div>

<div class="row dashboardrow">
    <div class="col-md-6">
        <div class="admindashboard">
            <div class="dashboardhighestviewedtopics">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="đang tải ..." />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="admindashboard">
            <div class="mvcforumlatestnews">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="đang tải ..." />
            </div>
        </div>
    </div>
</div>