﻿@if (!Context.IsMobileDevice())
{
<script src="@Url.Content("~/scripts/tinymce/tinymce.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/tinymceplugins/ImageUpload/imageupload.js")" type="text/javascript"></script>
    <script type="text/javascript">        
        tinymce.init({
            selector: "textarea.rte",
            browser_spellcheck: true,
            plugins: [
                "autosave link image lists hr anchor forumimageinsert",
                "wordcount visualblocks visualchars textcolor wordcount colorpicker emoticons codesample preview fullscreen media nonbreaking"
            ],
            toolbar1: " forecolor backcolor | bold italic underline strikethrough bullist hr | formatselect | link unlink @(ViewBag.ImageUploadType ?? "image") preview emoticons codesample blockquote",
            remove_linebreaks: false,
            relative_urls: false,
            menubar: false,
			wordcount_cleanregex: /[0-9.(),;:!?%#$?\x27\x22_+=\\/\-]*/g,
			plugin_preview_height: 500,
            toolbar_items_size: 'small',
            content_css: app_base + "content/tinymce.css",
            height: 175,
            nonbreaking_force_tab: true
            //setup: function(editor) {
            //    editor.on( 'keydown', function(editor, evt) {
            //        if (evt.keyCode == 9) {
            //            editor.execCommand('mceInsertContent', false, '&emsp;&emsp;');
            //            evt.preventDefault();
            //        }
            //    } );
            //}
        });

        // Language strings
        //var buttonTitle = '@(Html.Lang("TinyMCE.InsertImage.ButtonTitle"))';
        //var buttonOk = '@(Html.Lang("TinyMCE.InsertImage.ButtonOk"))';
        //var buttonClose = '@(Html.Lang("TinyMCE.InsertImage.ButtonClose"))';
        //var enterValidUrl = '@(Html.Lang("TinyMCE.InsertImage.EnterValidUrl"))';
        //var selectFile = '@(Html.Lang("TinyMCE.InsertImage.SelectFile"))';
        //var maxImageFileSize = '@(Html.Lang("TinyMCE.InsertImage.MaxFileSize"))';
        //var onlyImages = '@(Html.Lang("TinyMCE.InsertImage.OnlyImages"))';
        //var generalError = '@(Html.Lang("Errors.GenericMessage"))';
		
		var buttonTitle = 'Chèn ảnh';
        var buttonOk = 'Chèn';
        var buttonClose = 'Đóng';
        var enterValidUrl = '@(Html.Lang("TinyMCE.InsertImage.EnterValidUrl"))';
        var selectFile = 'Bạn chưa chọn ảnh !';
        var maxImageFileSize = '@(Html.Lang("TinyMCE.InsertImage.MaxFileSize"))';
        var onlyImages = 'Vui lòng chọn file ảnh';
        var generalError = 'Bạn chưa chọn ảnh';
    </script>
}
<div class="tinymceholder">    
    @Html.TextArea(string.Empty, new {@class = "rte"})     
</div>
