﻿@using MVCForum.Website.ViewModels
@model HotTopicsViewModel
@{
    var count = 1;
}
@if (Model.Topics.Any())
{
    <div class="side-box hottopics-box">
        <h5>@Html.LanguageString("Topic.HotTopics")</h5>

        <ul>
            @foreach (var topicViewModel in Model.Topics)
            {
				if(count==1)
					{<li>
						<span class="badge" style="background-color:red">@count</span>
						<a href="@topicViewModel.Topic.NiceUrl">@Html.Raw(topicViewModel.Topic.Name)</a>
					</li>
				}
				else
				if(count==2)
					{<li>
						<span class="badge" style="background-color:darkred">@count</span>
						<a href="@topicViewModel.Topic.NiceUrl">@Html.Raw(topicViewModel.Topic.Name)</a>
					</li>
				}
				else
				if(count==3)
					{<li>
						<span class="badge" style="background-color:orange">@count</span>
						<a href="@topicViewModel.Topic.NiceUrl">@Html.Raw(topicViewModel.Topic.Name)</a>
					</li>
				}
				else
				if(count==4)
					{<li>
						<span class="badge" style="background-color:yellow">@count</span>
						<a href="@topicViewModel.Topic.NiceUrl">@Html.Raw(topicViewModel.Topic.Name)</a>
					</li>
				}
				else
				if(count==5)
					{<li>
						<span class="badge" style="background-color:purple">@count</span>
						<a href="@topicViewModel.Topic.NiceUrl">@Html.Raw(topicViewModel.Topic.Name)</a>
					</li>
				}
				else
				{
					<li>
						<span class="badge" style="background-color:purple">@count</span>
						<a href="@topicViewModel.Topic.NiceUrl">@Html.Raw(topicViewModel.Topic.Name)</a>
					</li>
				}
                count++;
            }
        </ul>

    </div>
}