﻿@using MVCForum.Website.Application
@using MVCForum.Website.ViewModels
@model ActiveTopicsViewModel
@{
    Layout = null;
    var totalCount = Convert.ToInt32(Model.TotalCount);
    ViewBag.Canonical = Html.Raw(AppHelpers.CanonicalPagingTag(totalCount, Html.Settings().TopicsPerPage, Html));
}

<div class="latesttopics">
    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.LanguageString("Home.LatestDiscussions")
        </div>
        <div class="panel-body">
            @foreach (var topic in Model.Topics)
            {
                Html.RenderPartial("_Topic", topic);
            }

            @if (Model.TotalPages > 1)
            {
                @Html.Pager(Convert.ToInt32(Model.PageIndex), Html.Settings().TopicsPerPage, totalCount, null, "Index", "Home")
            }
        </div>
    </div>
</div>